body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Para alinear los elementos en los extremos */
    align-items: center;
}

.language-selection {
    display: flex;
    justify-content: center; /* Centra el cuadro de selección de idioma */
    width: 100%; /* Permite que ocupe el ancho total */
    gap: 20px;
}

.language-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language-option label {
    font-size: 0.8rem;
    color: #ffd700;
    margin-bottom: 5px;
}

.language-select-box {
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 15px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
}

main {
    flex-grow: 1;
    display: flex;
}

h1 {
    font-size: 2.5rem;
    color: #ffd700;
    text-align: center;
    margin-bottom: 10px;
}

.instructions {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: row; /* Alinea elementos horizontalmente */
    align-items: flex-start; /* Centra el contenido verticalmente */
    gap: 20px; /* Espacio entre la lista y la letra seleccionada */
}

.alphabet-menu {
    background-color: #00bcd4;/* Color de fondo del menu de letras*/
    border-radius: 10px 25px 10px 25px; /* Bordes del menu de letras */
    padding: 5px;
    width: 80px; /* Ancho del menu de letras */
    height: auto; /* Altro del menu de letras */
    text-align: center; /* Alineacion del texto dentro del menu */
 /* overflow-y: scroll;*/
}

.alphabet-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.alphabet-menu ul li {
    font-size: 18px;
    padding: 5px 0;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.alphabet-menu ul li.active {
    background-color: #0097a7;
    color: white;
    border-radius: 15px;
    padding: 5px 15px;
    transform: translateX(20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.selected-letter {
    font-size: 58pt;
    background-color: #00bcd4;
    color: white;
    border-radius: 50%;
    width: 75pt;
    height: 75pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 22px;
}

.search-container {
    display: flex;
    align-items: center;
    position: absolute; /* Para posicionar el cuadro de búsqueda */
    top: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
}
.search-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 0;
    transition: width 0.4s ease-in-out;
}
.search-input.active {
    width: 200px;
}

@media (max-width: 768px) {
    
    .language-selection {
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex-direction: column;
    }

    .alphabet-menu {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .alphabet-menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .alphabet-menu ul li {
        margin: 0 5px 5px 0;
    }

    .selected-letter {
        margin-left: 20px;
        margin-top: 20px;
    }
}