<!DOCTYPE html>
<html lang="{{ idioma }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="page-title">Forma de Utilizar el Diccionario - Diccionario del 3MF</title>
    <link rel="icon" href="{{ url_for('static', filename='images/web_ico.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dictionary_usage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-dictionary.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/particles_dicc.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div id="pagination-controls" class="pagination-controls">
                <button id="prev-page" class="pagination-button">&larr;</button>
                <span id="page-number">Página 1</span>
                <button id="next-page" class="pagination-button">&rarr;</button>
            </div>
            <div class="home-container">
                <button id="homeButton" class="home-button">
                    <img src="{{ url_for('static', filename='images/home_ico.png') }}" alt="Home" class="home-icon">
                </button>
            </div>
            <div class="search-container">
                <button class="search-button" onclick="toggleSearch()">
                    <img src="{{ url_for('static', filename='images/search_ico.png') }}" alt="Buscar" class="search-icon">
                </button>
                <input type="text" id="searchInput" class="search-input" placeholder="Buscar término...">
            </div>
            <div class="language-selection">
                <div class="language-option">
                    <label for="input-language">Idioma</label>
                    <select id="input-language" class="language-select-box" onchange="changeLanguage()">
                        <option value="es" {% if idioma == 'es' %}selected{% endif %}>Español</option>
                        <option value="en" {% if idioma == 'en' %}selected{% endif %}>Inglés</option>
                        <option value="it" {% if idioma == 'it' %}selected{% endif %}>Italiano</option>
                        <option value="pt" {% if idioma == 'pt' %}selected{% endif %}>Portugues</option>
                    </select>
                </div>
            </div>
        </header>
        <main>
            <div class="content">
                <div class="alphabet-menu">
                    <ul id="alphabet-list">
                        {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
                            <li onclick="selectLetter('{{ letter }}', this)">{{ letter }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="selected-letter" class="selected-letter">A</div>
                <div id="terms-container">
                    <h1 id="header1">¿Como se usa el Diccionario?</h1>
                    <h2 id="header2">Tan simple como dar click en la letra de la cual quieres ver los terminos y te dejara ver los terminos traducidos</h2>
                    <h1 id="header3">¿Como se usa el "Buscar"?</h1>
                    <h2 id="header4">Vas a la letra y cuando estes en la letra que tiene el termino, preciona el boton de buscar y busca ejemplo "If" y das ENTER</h2>
                </div>
            </div>
        </main>
    </div>
    <div id="particles"></div>
    <script src="{{ url_for('static', filename='js/dictionary_usage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/words_particle.js') }}"></script>
    <script>
            function selectLetter(letter, element) {
                // Desactivar la clase activa de todas las letras
                document.querySelectorAll('#alphabet-list li').forEach(li => li.classList.remove('active'));
                // Activar la clase en la letra seleccionada
                element.classList.add('active');
                // Actualizar el contenido de la letra seleccionada
                document.getElementById('selected-letter').textContent = letter;

                // Actualizar los términos de la letra seleccionada
                updateTermsForLetter(letter);

                // Desplazar la página al inicio
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth' // Desplazamiento suave
                });
}

            function changeLanguage() {
                const selectedLanguage = document.getElementById('input-language').value;

                // Cambiar los textos de la página dinámicamente
                fetch(`/dictionary-usage?idioma=${selectedLanguage}`)
                    .then(response => response.text())
                    .then(html => {
                        const parser = new DOMParser();
                        const doc = parser.parseFromString(html, 'text/html');

                        // Actualizar contenido del diccionario
                        document.getElementById('terms-container').innerHTML =
                            doc.getElementById('terms-container').innerHTML;

                        // Actualizar idioma en el menú
                        document.getElementById('input-language').value = selectedLanguage;

                        // Actualizar texto de la sección superior
                        updateTextContent(selectedLanguage);

                        // Actualizar los términos de la letra seleccionada si ya hay una letra activa
                        const activeLetterElement = document.querySelector('#alphabet-list li.active');
                        if (activeLetterElement) {
                            const activeLetter = activeLetterElement.textContent;
                            updateTermsForLetter(activeLetter);
                        }
                    });
            }

            // Nueva función para actualizar los términos de una letra específica
            function updateTermsForLetter(letter) {
                fetch(`/terms/${letter}?idioma=${getCurrentLanguage()}`)
                    .then(response => response.text())
                    .then(html => {
                        const container = document.getElementById('terms-container');
                        container.innerHTML = html;
                    });
            } 
    </script>

    <script>

            function updateTermsForLetter(letter) {
                fetch(`/terms/${letter}?idioma=${getCurrentLanguage()}`)
                    .then(response => response.text())
                    .then(html => {
                        const container = document.getElementById('terms-container');
                        container.innerHTML = html;
                        initializePagination();
                    });
            }

            function initializePagination() {
                const termsContainer = document.getElementById('terms-container');
                const terms = termsContainer.getElementsByClassName('term');
                const prevButton = document.getElementById('prev-page');
                const nextButton = document.getElementById('next-page');
                const pageNumber = document.getElementById('page-number');
                const termsPerPage = 3;
                let currentPage = 1;

                function showPage(page) {
                    const startIndex = (page - 1) * termsPerPage;
                    const endIndex = startIndex + termsPerPage;

                    for (let i = 0; i < terms.length; i++) {
                        if (i >= startIndex && i < endIndex) {
                            terms[i].style.display = 'block';
                        } else {
                            terms[i].style.display = 'none';
                        }
                    }
                }

                function updatePaginationControls() {
                    const totalPages = Math.ceil(terms.length / termsPerPage);
                    pageNumber.textContent = `Página ${currentPage} de ${totalPages}`;
                    prevButton.disabled = currentPage === 1;
                    nextButton.disabled = currentPage === totalPages;

                    const paginationControls = document.getElementById('pagination-controls');
                    if (terms.length <= termsPerPage) {
                        paginationControls.style.display = 'none';
                    } else {
                        paginationControls.style.display = 'flex';
                    }
                }

                prevButton.addEventListener('click', function() {
                    if (currentPage > 1) {
                        currentPage--;
                        showPage(currentPage);
                        updatePaginationControls();
                    }
                });

                nextButton.addEventListener('click', function() {
                    const totalPages = Math.ceil(terms.length / termsPerPage);
                    if (currentPage < totalPages) {
                        currentPage++;
                        showPage(currentPage);
                        updatePaginationControls();
                    }
                });

                showPage(currentPage);
                updatePaginationControls();
            }


            document.addEventListener('DOMContentLoaded', function() {

                initializePagination();
            });

    </script>
</body>
</html>